<div id="footer-two">
    <div class="container text-center">
        <div class="row">
            <div>
                <p class="para" id="font-one">195 Route de Saint-Leu Epinay sur Seine</p>
                <p class="para" id="font-two">Tel: 01 79 72 79 79</P>
                <p class="para" id="font-three">Copiright 2015 Qatarcars tous droits réservés</p>
            </div>
        </div>
    </div>
</div>
